html {
    /*--pst-color-secondary: #4583EC !important;*/
    --pst-color-primary: #4583EC !important;

}

footer a{
    color: #4c72b0 !important;
}

a.reference {
    color: #4c72b0 !important;
}

blockquote p {
    font-size: 14px !important;
}

blockquote {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    margin: 4 4 4px !important;
}

code {
    color: #49759c !important;
    background-color: #ffffff !important;
}

.alert-info {
    background-color: #adb8cb !important;
    border-color: #adb8cb !important;
    color: #2c3e50 !important;
}

.function dt {
    padding-top: 150px;
    margin-top: -150px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

.wy-nav-content {
    max-width: None !important;
}