name: Deploy Documentation to GitHub Pages

on:
  push:
    branches: [main]
  workflow_dispatch:

# Cancel any in-progress job or run
# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#concurrency
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy-to-gh-pages:
    runs-on: ubuntu-latest
    environment:
      name: documentation-github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      contents: read
      pages: write
      id-token: write
    env:
      FORCE_COLOR: true
      UV_SYSTEM_PYTHON: 1
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version-file: "pyproject.toml"
    - name: Set up uv
      uses: astral-sh/setup-uv@v7
    - name: Install dependencies
      run: |
        uv pip install --group=docs --editable .
    - name: Build documentation
      run: |
        make -C docs clean
        make -C docs html
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: 'docs/build/html'
    - id: deployment
      name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v4
