name: Python tests

on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.6, 3.7, 3.8]

    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-test.txt
        pip install .

    - name: Test with pytest
      run: |
        pytest --doctest-modules --cov --cov-report=xml --cov-config=setup.cfg --verbose

    - name: Upload coverage report
      if: "matrix.platform == 'ubuntu-latest'"
      uses: codecov/codecov-action@v1
      with:
        token: c6ed6ca6-a040-4f23-9ebf-8c474c998097
        file: ./coverage.xml
