name: Python tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11"]

    runs-on: ${{ matrix.platform }}

    env:
      FORCE_COLOR: true

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[test]

    - name: Test with pytest
      run: |
        pytest --cov --cov-report=xml --verbose

    - name: Build docs
      if: ${{ matrix.platform == 'ubuntu-latest' && matrix.python-version == 3.10 }}
      run: |
        pip install .[docs]
        make -C docs clean
        make -C docs html

    - name: Upload doc build artifacts
      if: ${{ matrix.platform == 'ubuntu-latest' && matrix.python-version == 3.10 }}
      uses: actions/upload-artifact@v4
      with:
        name: docs-artifact
        path: docs/build/html

    - name: Upload coverage report
      if: ${{ matrix.platform == 'ubuntu-latest' && matrix.python-version == 3.10 }}
      uses: codecov/codecov-action@v4
      with:
        token: c6ed6ca6-a040-4f23-9ebf-8c474c998097
        file: ./coverage.xml
