name: Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    runs-on: ${{ matrix.platform }}
    env:
      FORCE_COLOR: true
      UV_SYSTEM_PYTHON: 1
    steps:
    - uses: actions/checkout@v6
    
    - name: "Set up Python"
      uses: actions/setup-python@v6
      with:
        python-version-file: "pyproject.toml"

    - name: Set up uv
      uses: astral-sh/setup-uv@v7
    
    - name: Install dependencies
      run: |
        uv pip install --group=test . "scikit-learn<1.8.0"
    
    - name: Test with pytest
      run: uv run pytest --verbose